@tailwind base;
@tailwind components;
@tailwind utilities;

/* loader animatoin for img */
/* From Uiverse.io by Shoh2008 */ 
.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background: #FFF;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(30%, 40%);
    background: #4d9c3f;
    box-shadow: 32px -34px 0 5px #4d9c3f;
    animation: slide 2s infinite ease-in-out alternate;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #4d9c3f;
    transform: rotate(0deg);
    transform-origin: 35px 145px;
    animation: rotate 2s infinite ease-in-out;
  }
  
  @keyframes slide {
    0% , 100% {
      bottom: -35px
    }
  
    25% , 75% {
      bottom: -2px
    }
  
    20% , 80% {
      bottom: 2px
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(-15deg)
    }
  
    25% , 75% {
      transform: rotate(0deg)
    }
  
    100% {
      transform: rotate(25deg)
    }
  }
    
/* loader animatoin for img */


/* Custom Scrollbar for WebKit Browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #22c55e; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #1f2937; 
}

/* Firefox Scrollbar */
.custom-scrollbar {
  scrollbar-color: #22c55e #1f2937; 
  scrollbar-width: thin;
}

/* Styling the code block */
.code-block-container {
  background-color: #1e1e1e; 
  color: #dcdcdc;
  border-radius: 10px;
  overflow: auto;
  height: 400px;
  width: 100%;
}


.code-block-container::-webkit-scrollbar {
  width: 10px;
}

.code-block-container::-webkit-scrollbar-track {
  background-color: #2b2b2b;
}

.code-block-container::-webkit-scrollbar-thumb {
  background-color: #22c55e; 
  border-radius: 10px;
}

/* Scrollbar for Firefox */
.code-block-container {
  scrollbar-width: thin;
  scrollbar-color: #22c55e #2b2b2b;
}

/* PrismJS custom colors */
.token.keyword {
  color: #ff79c6; 
}

.token.function {
  color: #50fa7b;
}

.token.string {
  color: #f1fa8c;
}

.token.comment {
  color: #6272a4; 
}

.token.variable {
  color: #ffb86c; 
}

.token.parameter {
  color: #bd93f9; 
}

.token.number {
  color: #ff5555; 
}


